@page
@model HinpoIdentityMaintenance.Pages.AspNetUserRolesMnt.IndexModel
@using HinpoIdentityMaintenance.Models.Model;
@{
    string submitFormname = "AspNetUserRolesMntForm";
    string idButtonUpd = "idButtonUpd";
    string idButtonSrc = "idButtonSrc";
    string fontstyle = "";
}
<div class="text-center">
    <!-- コンテンツ本体 -->
    <div class="container-fluid clearfix sckhinpo-body">

        @using (Html.BeginForm(FormMethod.Post, new { id = @submitFormname })) {
            @Html.HiddenFor(model => model.PgModel.Instruction)
            @Html.HiddenFor(model => model.PgModel.SelectedAspNetRolesId)
            <input asp-for="@Model.PgModel.SrchCond" type="hidden" value="@Model.PgModel.SrchCond" />

            <div class="container sckhinpo-panel mt-3">
                <table class='table table-bordered table-primary table-sm sckhinpo-margin-bottom-half sckhinpo-bottom-space-none'>
                    <tbody>
                        <tr>
                            <th class='text-center align-middle sckhinpo-table-th sckhinpo-w-25'>UserId</th>
                            <td class='text-left bg-white align-middle sckhinpo-w-25'>
                                <input asp-for="@Model.PgModel.MyAspNetUser.Id" type="text" value="@Model.PgModel.MyAspNetUser.Id" class="form-control" />

                            </td>
                            <th class='text-center align-middle sckhinpo-table-th sckhinpo-w-25'>氏名</th>
                            <td class='text-left bg-white align-middle sckhinpo-w-25'>@Model.PgModel.FullName</td>
                        </tr>
                        <tr>
                            <th class='text-center align-middle sckhinpo-table-th sckhinpo-w-25'>権限絞り込み(文字検索)</th>
                            <td class='text-left bg-white align-middle sckhinpo-w-25'>
                                <div class='input-group '>
                                    <input asp-for="@Model.PgModel.FilterRole" type="text" value="@Model.PgModel.FilterRole" class="form-control" />
                                </div>
                            </td>

                            <th class='text-center align-middle sckhinpo-table-th sckhinpo-w-25'>権限絞り込み(種別検索)</th>
                            <td class='text-left bg-white align-middle sckhinpo-w-25'>
                            <div class='input-group '>
                                @Html.DropDownListFor(model => model.PgModel.ProcessId, (IEnumerable<SelectListItem>)Model.PgModel.processIds, " 選択してください ", new { @class = "form-control", autocomplete = "off" })
                            </div>
                            </td>
                           

                        </tr>
                        <tr>
                            <td colspan="4" class='text-center bg-white align-middle sckhinpo-w-25'>
                                <button type='submit' class='col-4 btn btn-primary btn-lg' id='@idButtonSrc' onclick="onSubmit('srch');">絞り込み</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container sckhinpo-panel mt-3">
                <table class='table table-bordered table-primary table-sm sckhinpo-margin-bottom-half sckhinpo-bottom-space-none'>
                    <tbody>
    
                    </tbody>
                </table>
            </div>

            <div class="container sckhinpo-panel mt-3">
                <table class='table table-bordered table-primary table-sm sckhinpo-margin-bottom-half sckhinpo-bottom-space-none'>
                    <thead>
                        <tr>
                            <!-- 追加チェック -->
                            <th class='text-center align-middle sckhinpo-table-th sckhinpo-w-10'>資格付与</th>
                            <!-- 削除チェック -->
                            <th class='text-center align-middle sckhinpo-table-th sckhinpo-w-10'>資格剥奪</th>
                            <!-- Id -->
                            <th class='text-center align-middle sckhinpo-table-th sckhinpo-w-300'>Id</th>
                            <!-- RoleNameJp -->
                            <th class='text-center align-middle sckhinpo-table-th sckhinpo-w-60'>役割</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int row = 0; row < Model.PgModel.AllAspNetRoles.Count; row++) {
                            <input asp-for="@Model.PgModel.AllAspNetRoles[row].Id" type="hidden" value="@Model.PgModel.AllAspNetRoles[row].Id" />

                            <tr>
                                <td class='text-center bg-white'>
                                    @if (Model.PgModel.AllAspNetRoles[row].IsInRole == false) {
                                        @Html.CheckBoxFor(Model => Model.PgModel.AllAspNetRoles[row].IsAddChecked, new { @onclick = "radioChecked('" + @Model.PgModel.AllAspNetRoles[row].Id + "')" })                                        ;
                                    }
                                </td>
                                <td class='text-center bg-white'>
                                    @if (Model.PgModel.AllAspNetRoles[row].IsInRole == true) {
                                        @Html.CheckBoxFor(Model => Model.PgModel.AllAspNetRoles[row].IsDelChecked, new { @onclick = "radioChecked('" + @Model.PgModel.AllAspNetRoles[row].Id + "')" })                                        ;
                                    }
                                </td>
                                @if (Model.PgModel.AllAspNetRoles[row].IsInRole == true) {
                                    fontstyle = "text-primary";
                                } else {
                                    fontstyle = "";
                                }
                                <td class='text-left bg-white @fontstyle'>
                                    @Model.PgModel.AllAspNetRoles[row].Id
                                </td>
                                <td class='text-left bg-white  @fontstyle'>
                                    @Model.PgModel.AllAspNetRoles[row].RoleNameJp
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>


            <div class="mb-2"></div>
            <div class="form-group input-group">
                <table class="table table-borderless sckhinpo-margin-bottom-half sckhinpo-nopadding-lr" id="listFooter">
                    <tr>
                        <td class="sckhinpo-w-50 sckhinpo-text-left">
                            <button type="button" class="col-4 btn btn-secondary btn-lg back-btn" onclick="onSubmit('back');">戻る</button>
                        </td>
                        <td class="sckhinpo-w-50 sckhinpo-text-right">
                            <button type='submit' class='col-4 btn btn-primary btn-lg' id='@idButtonUpd' disabled onclick="onSubmit('upd');">変更</button>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    // ページ読み込み時の実行処理
    $(document).ready(function () {
    });

    function radioChecked(value) {
        $('#@idButtonUpd').prop('disabled', false);
    }

    function onSubmit(instruction) {
        var ele = document.getElementById("PgModel_Instruction");
        ele.value = instruction;
        var frm = document.getElementById("@submitFormname");
        frm.submit();
    }
    
</script>
