@page

@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity;
@using System.Text.Json.Serialization;
@using System.Text.Json;
@using System.Globalization;

@using HinpoIdentityMaintenance.Data;
@using HinpoIdentityBusinessLayer;
@using HinpoMasterBusinessLayer;
@using HinpoIdentityMaintenance.Common;
@using WorkFlowModels;

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IConfiguration appSettings
@inject IHinpoMasterServiceReadOnly masterSvcRead
@inject IHinpoIdentityService identity
@inject IHttpContextAccessor Accessor
@inject IConfiguration configuration

@{
    //画面のサブタイトル設定
    ViewData["Title"] = Localizer["IQCTopMenu"].Value.ToString();
    ViewData["HinpoIdentityMaintenancePage"] = "TOP";

#pragma warning disable CS8600, CS8602
    string strDisabled = (string)ViewData["strDisabled"];
    string strMstOwn = strDisabled;


#pragma warning restore CS8600, CS8602
}

@model HinpoIdentityMaintenance.Pages.IndexModel

<div class="text-center">
    <!-- コンテンツ本体 -->
    <div class="container-fluid clearfix sckhinpo-body">

        <div class="container sckhinpo-panel sckhinpo-pt-2rem">

            <!--ユーザー権限メンテ-->
            <div class="row mb-2">
                <div class="col-2"></div>
                <div class="col-8">
                    <button type="button" @strDisabled title='@Localizer["AspNetUserRolesMnt"]'
                            class="btn btn-block btn-secondary py-3 sckhinpo-menu-font-size"
                            onclick="location.href='@Url.Page("/AspNetUserRolesMnt/Index")';return false;">
                        @Localizer["AspNetUserRolesMnt"]
                    </button>
                </div>
            </div>

            <!--権限メンテ-->
            <div class="row mb-2">
                <div class="col-2"></div>
                <div class="col-8">
                    <button type="button" @strDisabled title='@Localizer["AspNetRolesMnt"]'
                            class="btn btn-block btn-secondary py-3 sckhinpo-menu-font-size"
                            onclick="location.href='@Url.Page("/AspNetRolesMnt/Index")';return false;">
                        @Localizer["AspNetRolesMnt"]
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
